/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes winner-blink {
	from {
		opacity: 1;
		transform: scale(1);
	}
	10% {
		opacity: 0;
		transform: scale(1.3);
	}
	20% {
		opacity: 1;
		transform: scale(1.3);
	}
	30% { 
		opacity: 0;
		transform: scale(1.3);
	}
	40% {
		opacity: 1;
		transform: scale(1.3);
	}
	50% {
		opacity: 0;
		transform: scale(1.3);
	}
	60% {
		opacity: 1;
		transform: scale(1.3);
	}
	70% {
		opacity: 0;
		transform: scale(1.3);
	}
	80% {
		opacity: 1;
		transform: scale(1.3);
	}
	90% {
		opacity: 0;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes clear {
	from {
		opacity: 1;
		transform: scale(1) translateX(0px) rotate(0turn);
	}
	10% {
		opacity: 0.5;
		transform: scale(1) translateX(-25px) rotate(-1turn);
	}
	20% {
		opacity: 1;
		transform: scale(1) translateX(0px) rotate(0turn);
	}
	30% { 
		opacity: 0.5;
		transform: scale(1) translateX(25px) rotate(1turn);
	}
	40% {
		opacity: 1;
		transform: scale(1) translateX(0) rotate(3turn);
	}
	50% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale(0) translateX(0px) rotate(3turn);
	}
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	53% {
		opacity: 1;
	}
	58% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	72% {
		opacity: 0;
	}
	76% {
		opacity: 1;
	}
	82% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	93% {
		opacity: 0;
	}
	95% {
		opacity: 1;
	}
	98% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-mashumaro);
  }
}

@keyframes blink {
	to {
		opacity: 0;
	}
}

@keyframes destroy {
	to {
		opacity: 0;
	}
}

@keyframes move {
	from {
		transform: translateX(-88%) rotate(-3turn);
	}
	to {
		transform: translateX(88%) rotate(3turn);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	70% {
		opacity: 0.75;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes backdrop-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.3;
	}
}

@keyframes backdrop-fade-out {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 0;
	}
}

:root {
	--background-current: var(--background-default);
	--background-default: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	--background-easter-egg: url('../assets/media/images/space.gif') center / cover no-repeat;

	--player-hover-icon-bg: var(--x);
	--x: url('../assets/media/images/x.svg') center / contain no-repeat;
	--o: url('../assets/media/images/circle.svg') center / contain no-repeat;

	--player-one-color: var(--color-inky);
	--player-two-color: var(--color-clyde);
}

body {
	background: var(--background-current);
  color: var(--color-mashumaro);
  font-family: 'Space Mono', monospace;
}

body.easterEgg::before {
	opacity: 1;
}

body::before {
	background: var(--background-easter-egg); 
	content: '';
	display: block;
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.88s ease-in-out;
	width: 100vw;
	z-index: -1;
}

h1 {
	font-size: clamp(10rem, 18vw, 11rem);
}

h2 {
	font-size: clamp(5rem, 15vw, 8rem);
}

h3 {
	font-size: clamp(1.675rem, 4.5vw, 2.313rem);
}

h4 {
	font-size: clamp(1rem, 3vw, 1.5rem);
}

main {
  display: grid;
  min-height: 100vh;
	/* overflow: hidden; */
	position: relative;
  place-items: center;
}

main #intro-container > * {
	height: inherit;
	inset: 0;
	margin: auto;
	position: absolute;
}

main #intro-container.inactive {
	animation: 1.88s destroy ease-out forwards;
} 

/* ! */
/* ! */
/* ! */

main #intro-container #intro-presents {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	pointer-events: none;
	transition: all 3s ease-in-out;
}

main #intro-container #intro-presents.active {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

main #intro-container #intro-presents.inactive {
	opacity: 0;
  transform: scale(0);
	visibility: hidden;
}

main #intro-container #intro-presents #mega-logo {
  width: clamp(333px, 55vw, 555px);
  filter: drop-shadow(0 0 8px var(--color-mashumaro));
}

main #intro-container #intro-presents .typewriter p {
  animation: typing 3s steps(11, end), blink-caret 0.88s step-end infinite;
  border-right: 0.03em solid var(--color-mashumaro); /* The typwriter cursor */
  font-size: clamp(1.313rem, 3.5vw, 1.75rem);
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  text-shadow: 0 0 8px var(--color-mashumaro);
  white-space: nowrap; /* Keeps the content on a single line */
}

/* ! */
/* ! */
/* ! */

main #intro-container #intro-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: max-content;
	pointer-events: none;
	width: max-content;
	transition: all 5s ease-in-out;
}

main #intro-container #intro-menu.inactive {
	opacity: 0;
	transform: scale(0);
	visibility: hidden;
}

main #intro-container #intro-menu.active {
	opacity: 1;
	transform: scale(1);
	transition: all 5s ease-in-out;
	visibility: visible;
}

main #intro-container #intro-menu h1 {
  color: var(--color-mashumaro);
  font-family: 'Cyclone', monospace;
	line-height: 1;
	margin-bottom: 3rem;
  text-shadow: 0 8px 8px var(--color-kuro);
	transition: transform 1.88s ease-in-out;
}

main #intro-container.destroying #intro-menu h1 {
	transform: rotate(8turn) scale(0);
}

main #intro-container #intro-menu.inactive h1 #tic,
main #intro-container #intro-menu.inactive h1 #tac,
main #intro-container #intro-menu.inactive h1 #toe {
  opacity: 0;
	transform: translateY(-100vh); 
	transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

main #intro-container #intro-menu.inactive #press-start-button {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

main #intro-container #intro-menu.active h1 #tic,
main #intro-container #intro-menu.active h1 #tac,
main #intro-container #intro-menu.active h1 #toe {
  opacity: 1;
	transform: translateY(0); 
}

main #intro-container #intro-menu.active h1 #tic {
  transition: opacity 5s ease-in-out 2s, transform 3s ease-in-out 2s;
}

main #intro-container #intro-menu.active h1 #tac {
  transition: opacity 5s ease-in-out 4s, transform 3s ease-in-out 4s;
}

main #intro-container #intro-menu.active h1 #toe {
  transition: opacity 5s ease-in-out 6s, transform 3s ease-in-out 6s;
}

main #intro-container #intro-menu #press-start-button {
	animation: blink 888ms ease-in-out infinite alternate;
	color: var(--color-binky);
	cursor: pointer;
	font-size: clamp(1.125rem, 3vw, 1.313rem);
	line-height: 1;
	opacity: 1;
	pointer-events: all;
	text-shadow: 0 0 8px;
	transition: transform 1s ease-in-out 3s;
}

main #intro-container #intro-menu.active #press-start-button:hover {
	animation: blink 333ms ease-in-out infinite alternate;
	transform: scale(1.25);
}

/* ! */
/* ! */
/* ! */

main #intro-container #game-menu {
  align-items: center;
  display: flex;
	gap: 2rem;
	height: max-content;
  flex-direction: column;
  justify-items: center;	
	text-shadow: 0 0 8px;
	transition: all 380ms ease-in-out 1.5s;
}

main #intro-container #game-menu.inactive {
	opacity: 0;
	transform: scale(0);
	visibility: hidden;
}

main #intro-container #game-menu.active {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}

main #intro-container #game-menu #player-mark-container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

main #intro-container #game-menu #player-mark-container #marker-choice-heading {
	margin-bottom: 25px;
	text-align: center;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10vw;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons > * {
	color: var(--color-mashumaro);
	font-size: clamp(5rem, 11vw, 8rem);
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons input[type='radio'] {
	display: none;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label {
	cursor: pointer;
	line-height: 1;
	margin-bottom: 25px;
	text-shadow: none;
	transform: scale(0.75);
	-webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label:hover {
	transform: scale(1);
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons input[type='radio']:checked + .radio-label {
	transform: scale(1.25) rotate(3turn);
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .x {
	position: relative;
	z-index: 1;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .x::before {
    content: 'X';
    display: grid;
    inset: 0;
    opacity: 0;
    place-items: center;
    position: absolute;
    text-shadow: 0 0 15px var(--color-binky);
    transition: opacity 380ms ease-in-out;
    z-index: 0;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .x::after {
	background: center / cover no-repeat url('../assets/media/images/glitch.gif');
  content: '';
	filter: hue-rotate(30deg);
  height: 70%;
  inset: 0;
  margin: auto;
  position: absolute;
  transform: scaleY(0) ;
	transform-origin: top;
  transition: all 380ms ease-in-out 500ms;
  z-index: -1;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .o {
	position: relative;
	z-index: 1;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .o::before {
	content: 'O';
	display: grid;
	opacity: 0;
	inset: 0;
	place-items: center;
	position: absolute;
	line-height: inherit;
	text-shadow: 0 0 15px var(--color-funky);
	transition: opacity 380ms ease-in-out;
	z-index: 0;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons .radio-label .o::after {
	background: center / cover no-repeat url('../assets/media/images/glitch.gif');
  content: '';
	filter: hue-rotate(100deg);
  height: 70%;
  inset: 0;
  margin: auto;
  position: absolute;
  transform: scaleY(0) ;
	transform-origin: bottom;
  transition: all 380ms ease-in-out 500ms;
  z-index: -1;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons input[type='radio']:checked + .radio-label *::before {
	animation: flicker 1s linear infinite; 
	opacity: 1;
}

main #intro-container #game-menu #player-mark-container #player-mark-buttons input[type='radio']:checked + .radio-label *::after {
	opacity: 0.3;
	transform: scaleY(1);
}

main #intro-container #game-menu #players-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

@media screen and (min-width: 768px) {
	main #intro-container #game-menu #players-container {
		align-items: end;
		gap: 5vw;
		flex-direction: row;
	}
}

main #intro-container #game-menu #players-container label {
	font-size: clamp(0.8313rem, 2vw, 1rem);
}

main #intro-container #game-menu #players-container #difficulty {
	font-size: clamp(0.8313rem, 2vw, 1rem);
}

main #intro-container #game-menu #players-container button {
	border: 2px solid var(--color-mashumaro);
  border-radius: 100vw;
  box-shadow: 0 0 8px;
  color: var(--color-mashumaro);
	cursor: pointer;
	font-size: clamp(0.8313rem, 2vw, 1rem);
  height: 100px;
  padding: 0px 20px;
	position: relative;
	overflow: hidden;
	transition: 380ms transform ease-in-out ;
  width: 250px;
}

main #intro-container #game-menu #players-container button:hover {
	transform: scale(1.1)
} 

main #intro-container #game-menu #players-container button::before {
  background-color: rgba(128, 128, 128, 0.177);
  border-radius: inherit;
  content: '';
  height: 100%;
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 380ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
  z-index: -1;
}

main #intro-container #game-menu #players-container button:hover::before {
	transform: scaleX(1);
} 

main #intro-container #game-menu #players-container #pvb-container {
	align-items: center;
	display: flex;
	flex-direction: column;	
	gap: 2rem;
	justify-content: center;
}

main #intro-container #game-menu #players-container #pvb-container #pvb-select-container {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

main #intro-container #game-menu #players-container #pvb-select-container select {
	background-color: transparent;
	border: 2px solid var(--color-mashumaro);
	border-radius: 100vw;
	box-shadow: 0 0 8px;
	color: var(--color-mashumaro);
	cursor: pointer;
	padding: 10px 20px;
	text-shadow: inherit;
}

/* ! */
/* ! */
/* ! */

main #game-container.inactive {
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
	visibility: hidden;
}

main #game-container {
	margin-bottom: 5rem;
	opacity: 1;
	pointer-events: all;
	transform: scale(1);
	visibility: visible;
	transition: all 1.88s ease-in-out;
}

main #game-container #game-heading {
	color: hsla(210, 15%, 24%, 0.75);
	font-family: 'Cyclone', monospace;
	line-height: 1;
	margin-bottom: 1.5rem;
	text-align: center;
	text-shadow: 0 0 8px var(--color-kuro);
}

main #game-container #information {
	border: 3px solid hsla(210, 15%, 24%, 0.75);
	border-radius: 100vw;
	box-shadow: inset 0 0 11px hsla(210, 15%, 24%, 0.75), 0 0 8px var(--color-kuro);
	margin-bottom: 1rem;
	width: clamp(320px, 55vw, 450px);
}

main #game-container #information #score-table {
	font-family: 'pixeBoy', monospace;
	text-align: center;
	text-shadow: 0 0 5px;
	width: 100%;
}

main #game-container #information #score-heading {
	font-size: clamp(1.625rem, 5vw, 2.125rem);
	line-height: 1.5;
}

main #game-container #information .player-title {
	font-size: clamp(1.25rem, 3vw, 1.5rem);
	line-height: 1;
}

main #game-container #information .player-score {
	font-size: clamp(2.75rem, 7vw, 3.625rem);
	line-height: 1;
}

main #game-container #information #player-one-score {
	color: var(--player-one-color);
}

main #game-container #information #player-two-score {
	color: var(--player-two-color);
}

main #game-container #status-output-container {
  display: grid;
  font-size: clamp(1rem, 2.5vw, 1.313rem);
  height: 2.5rem;
  margin-bottom: 1rem;
  place-items: center;
}

main #game-container #status-output.blink {
	animation: winner-blink 1.55s ease-in-out;
}

main #game-container #tic-tac-toe {
  aspect-ratio: 1 / 1;
  display: grid;
  flex-wrap: wrap;
  gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-inline: auto;
  position: relative;
  width: clamp(320px, 50vw, 400px);
}

main #game-container #tic-tac-toe .game-square {
	border-radius: 33px;
	color: var(--color-mashumaro);
	cursor: pointer;
	background-color: hsla(210, 15%, 24%, 0.75);
	position: relative;
	text-shadow: 0 0 8px;
	transition: transform 111ms ease-in-out;
}

main #game-container #tic-tac-toe .game-square .symbol {
	display: inline-block;
	font-weight: 500;
	font-size: 3rem;
	text-shadow: 0 0 8px;
}

main #game-container #tic-tac-toe .game-square .symbol.clearing {
	animation: clear 1.55s ease-in-out forwards;
} 

main #game-container #tic-tac-toe .game-square::before {
  display: grid;
	background: var(--player-hover-icon-bg);
	content: '';
  inset: 0;
	opacity: 0;
	height: 50%;
	margin: auto;
	width: 50%;
  place-items: center;
  position: absolute;
} 

main #game-container #tic-tac-toe .game-square:hover::before {
	opacity: 0.7;
}

main #game-container #tic-tac-toe .game-square[data-player="1"] .symbol {
	color: var(--player-one-color);
}

main #game-container #tic-tac-toe .game-square[data-player="2"] .symbol {
	color: var(--player-two-color);
}

main #game-container #tic-tac-toe .game-square[data-symbol="X"]:hover::before, 
main #game-container #tic-tac-toe .game-square[data-symbol="O"]:hover::before {
	opacity: 0;
}

main #game-container #tic-tac-toe .game-square:hover {
	opacity: 0.8;
	transform: scale(1.03);
}

main #game-container #game-over-modal {
	aspect-ratio: 1 / 1;
	position: relative;
	background: var(--background-current);
	border: 8px solid black;
	box-shadow: 0 0 8px var(--color-mashumaro);
	transition: border-radius 2.22s linear;
}

main #game-container #game-over-modal[open] {
	animation: fade-in 1.33s ease-in-out forwards;
} 

main #game-container #game-over-modal[closing] {
	animation: fade-out 1.33s ease-in-out forwards;
}

main #game-container #game-over-modal::backdrop {
	background: url('../assets/media/images/space.gif') center / cover no-repeat;
	opacity: 0.1;
}

main #game-container #game-over-modal[open]::backdrop {
	animation: backdrop-fade-in 1.33s ease-in forwards;
}

main #game-container #game-over-modal[closing]::backdrop {
	animation: backdrop-fade-out 1.33s ease-in forwards;
}

main #game-container #game-over-modal #cyclone-c-container {
	display: grid;
	place-items: center;
}

main #game-container #game-over-modal #cyclone-c-container #cyclone-c-button {
	animation: move 8.88s ease-in-out infinite alternate;
	cursor: pointer;
	/* display: inline-block; */
	transition: opacity 88ms ease-in-out;
}

main #game-container #game-over-modal #cyclone-c-container #cyclone-c-button:hover {
	animation-play-state: paused;
}

main #game-container #game-over-modal #cyclone-c-container #cyclone-c-button:active {
	opacity: 0.55;
}

main #game-container #game-over-modal #cyclone-c-container #cyclone-c-image {
	aspect-ratio: 1 / 1;
	display: inline-block;
	filter: drop-shadow(0 0 8px var(--color-binky));
	pointer-events: none;
	width: clamp(88px, 15vw, 111px);
}

main #game-container #game-over-modal #dialog-heading {
	color: var(--color-binky);
	font-family: 'pixeBoy', monospace;
	line-height: 1;
	text-shadow: 0 0 8px;
}

main #game-container #game-over-modal #dialog-winner-output {
	color: white;
	margin-bottom: 1rem;
	text-align: center;
}

main #game-container #game-over-modal #dialog-button-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* border: 2px solid red; */
	gap: 1rem;
	justify-content: center;
}

main #game-container #game-over-modal #dialog-button-container .dialog-button {
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 3vw, 1.675rem);
  outline: none;
  position: relative;
}

main #game-container #game-over-modal #dialog-button-container .dialog-button::before {
  background-color: rgba(0, 0, 0, 0.555);
  border: 3px solid rgba(0, 0, 0, 0.673);
  border-radius: 100vw;
  content: '';
  inset: 0;
  opacity: 0.33;
  position: absolute;
  transform: scale(0);
  transition: transform 188ms ease-in-out 33ms, opacity 1s ease-in-out 88ms;
  z-index: -1;
} 

main #game-container #game-over-modal #dialog-button-container .dialog-button:hover::before, 
main #game-container #game-over-modal #dialog-button-container .dialog-button:focus::before,
main #game-container #game-over-modal #dialog-button-container .dialog-button:focus-visible::before {
	opacity: 1;
	transform: scale(1.3);
} 

main #game-container #game-over-modal #dialog-button-container .dialog-button:first-child {
	margin-bottom: 1rem;
	color: var(--color-funky);

}

main #game-container #game-over-modal #dialog-button-container .dialog-button:last-child {
	color: var(--color-binky);
}